# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
yarn-debug.log
yarn-error.log

# Build artifacts
dist/
build/
.cache/
out/

# Editor and OS files
.vscode/
.DS_Store
Thumbs.db
.idea/
*.swp
